@import url(./styles/reset.css);
@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://fastly.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

body {
  font-family: 'Noto Sans KR';
  font-size: 16px;
  color: #3a3939;
  letter-spacing: -0.08em;
  overflow-x: hidden;
}

img {
  width: 100%;
}
